.formacao{
    background: #141414;
    color: #fff;
}

.formacao-container{
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 140px;
    position: relative;
}

.formacao-container::after{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(../img/detalhe.svg) no-repeat center ;
    position: absolute;
    bottom: -50px;
    left: 20px;
}

.formacao-texto span{
    font-weight: bold;
     color: #EE5948;
}

.formacao .subtitulo{
    color: #292929;
}
.formacao-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.curso-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.curso{
    flex: 1;
    background: #000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.curso-tipo{
    font-size: .875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.curso-nome{
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}

.curso-nome::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(180deg, #EE5948 0%, #F2A159 100%);
    position: absolute;
    top: 2px;
    left: -24px;
}

.curso-instituicao{
    font-size: 1.125rem;
    color: #a3a3a3;
}

.cursos-detalhe{
    margin-bottom: 60px;
}

.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.formacao-extra h3::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: -3px;
}

.cursos-detalhe h3::before{
    background: url("../img/curso.svg") no-repeat center center;
}

.idiomas-detalhe h3::before{
    background: url("../img/ingles.svg") no-repeat center center;
}

.formacao-extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.formacao-extra span{
    color: #8f8f8f;
}


.cursos-detalhe li{
    display: flex; 
    justify-content: space-between;   
}

.idiomas-detalhe li {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin-bottom: 20px;

}

/* estilização de niveis de ingles */

.nivel-container{
    background: #F2A159;
    width: 300px;
    border-radius: 4px;
}

.nivel-speaking{
    background:#EE5948;
    width: 70%;
    border-radius: 4px 0 0 4px;
}

.nivel-reading{
    background:#EE5948;
    width: 80%;
    border-radius: 4px 0 0 4px;
}

.nivel-listening{
    background:#EE5948;
    width: 80%;
    border-radius: 4px 0 0 4px;
}

@media (max-width: 800px) {
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .formacao .subtitulo{
        color: #fff;
    }
    .formacao-texto{
        font-size: 1.25rem;
    }
    .formacao-extra h3::before{
        position: static;
        margin-bottom: 10px;
    }
    .nivel-container{
        width: 200px;
    }
}