.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 140px;
    align-items: center;

}

.introducao::after{
    content: "";
    display: block;
    width:522px;
    height:522px;
    background: url("../img/marca2.svg");
    position: absolute;
    right: -90px;
    top: 200px;
    opacity: .2;
    z-index: -1;
}

.introducao h1{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url('../img/detalhe.svg') no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}

.introducao p {
    display: inline;
    font-size: 1.5rem;
    color: #525252;
}

.praia{
    display: inline;
    margin-left: 3px 
}

@media (max-width: 1250px) {
    .introducao::after{
        background: url('../img/marca2-s.svg') no-repeat center;
    }
}

@media (max-width: 1000px) {
    .introducao h1{
        font-size: 3rem;
    }
    .introducao::after{
        display: none;
    }
}


@media (max-width: 800px) {
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    
    .introducao h1{
        font-size: 2rem;
    }

    .introducao h1::before{
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 600px) {
    .introducao{
        grid-template-columns: 1fr;
    }

    .introducao img{
        display: none;
        justify-content: center;
    }
    
    img.praia{
        display: initial;
    }
}